#########################################################################################################
# pyc
#########################################################################################################
__pycache__
*.pyc

#########################################################################################################
# api
#########################################################################################################
samples/coco/mask_rcnn.egg-info/